extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Certificates';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 2.05; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 2; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4


block header
	include modules/header

block content
	.certificates.line-page
		.certificates__container.container
			include modules/lines
			h1.certificates__title.page-title Сертификаты

			.certificates__cats.cats-row
				.cats-row-item
					a(href="javascript:;" data-type="1") Свидетельства
				.cats-row-item
					a(href="avascript:;" data-type="2") Разрешения и допуски
				.cats-row-item
					a(href="avascript:;" data-type="3") Сертификаты соответствия

			.reviews__flex.reviews__flex--certs
				.reviews__left
					.reviews__item(data-type="1")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/cert.jpg", srcset="img/review/cert@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/cert.jpg", data-bigimg-2x="img/review/cert@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="1")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/review.jpg", srcset="img/review/review@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/review.jpg", data-bigimg-2x="img/review/review@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="2")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/review.jpg", srcset="img/review/review@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/review.jpg", data-bigimg-2x="img/review/review@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="3")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/cert.jpg", srcset="img/review/cert@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/cert.jpg", data-bigimg-2x="img/review/cert@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="1")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/cert.jpg", srcset="img/review/cert@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/cert.jpg", data-bigimg-2x="img/review/cert@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="2")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/review.jpg", srcset="img/review/review@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/review.jpg", data-bigimg-2x="img/review/review@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="3")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/cert.jpg", srcset="img/review/cert@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/cert.jpg", data-bigimg-2x="img/review/cert@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="1")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/review.jpg", srcset="img/review/review@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/review.jpg", data-bigimg-2x="img/review/review@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="3")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/cert.jpg", srcset="img/review/cert@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/cert.jpg", data-bigimg-2x="img/review/cert@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf
					.reviews__item(data-type="1")
						.reviews__item-inner
							.reviews__item-content
							img(src="img/review/review.jpg", srcset="img/review/review@2x.jpg 2x", width="480", height="718", alt="", data-bigimg="img/review/review.jpg", data-bigimg-2x="img/review/review@2x.jpg 2x")
							a.reviews__item-btn(href="download/cert.pdf", target="_blank")
								svg(width='26' height='26' aria-label='dowload icon')
									use(xlink:href='#dowload-small')
								span Открыть pdf


				.reviews__right
					img(src="img/review/cert.jpg", srcset="img/review/cert@2x.jpg 2x", width="480", height="718", alt="")

	include modules/services

block footer
	include modules/footer


