extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Home';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let currentPage = 1.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 1; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header

block content
	include modules/plan
	.js-content
		include modules/services-slider
		include modules/advantages
		include modules/projects
		include modules/clients
		include modules/news
		include modules/about
		include modules/feedback
		include modules/services

		include modules/footer


block footer

