extends templates/titular
block variables
	- let pageTitle = 'Разводящая страница проекта';
	- let isHome = false; //- Если true то логотип не будет ссылкой

block content
	.container
		h1 Glass proekt
		ul
			each item in TITULAR_MENU
				li
					a(href= item.url)= item.text
					if item.submenu
						each subitem in item.submenu
							if subitem.title
								.subtitle= subitem.title
							ul
								each it in subitem.list
									li
										a(href= it.url)= it.text


