extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Услуга скрытая';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 3.04; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 3; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header

block content
	article.single-page
		.single-page__inner.container
			header.single-page__header
				.single-page__header-right
					img(src="img/services-page/service-hide.jpg", srcset="img/services-page/service-hide@2x.jpg 2x", width="720", height="560", alt="")
				.single-page__header-left
					h1.single-page__heading.heading.heading--upper.__js_word Окна из алюминиевого профиля
					.single-page__header-text В процессе постройки домов самого *различного профиля*, а так же при отделке квартир и офисных зданий всё большее применение находят конструкции, выполненные из алюминиевого сплава. Использование [алюминиевых окон] позволит создать совершенно новые архитектурные формы, находить великолепные инновационные решения в процессе строительства:

					ul
						li.check-item Частных загородных домов.
						li.check-item Офисов крупных корпораций.
						li.check-item Различных банков.
						li.check-item Элитных отелей.
			.single-page__main
				section.single-page__section.single-page__section--short
					h2.single-page__section-heading Для проектных организаций, <br>архитекторов и дизайнеров интерьера!

					ul.ordered-list
						each text, index in LIST
							- let num = index + 1 < 10 ? '0' + (index + 1) : (index + 1);
							li.ordered-list__item
								.ordered-list__item-count= num
								| #{text}

				section.single-page__section
					h2.single-page__section-heading Ниже не нумерованный список

					ul.single-page__list
						each text in LIST_2
							li.check-item= text

				section.single-page__section.single-page__section--mt.single-page__section--short
					h2.single-page__section-heading.single-page__section-heading--large ОКНА ИЗ АЛЮМИНИЕВОГО ПРОФИЛЯ: ТЕНДЕНЦИИ РАЗВИТИЯ ПРОФИЛЕЙ.
					.single-page__section-text
						p Инновационные окна из алюминиевого профиля, которые производятся в соответствие с европейскими стандартами, сочетают в себе самые отменные характеристики теплоизоляции, анти деформационные свойства, а так же звукоизоляционные параметры.

						p Высокий уровень теплоизоляции, вкупе с хорошей защищённостью от уличного шумового воздействия обеспечиваются благодаря особенностям конструкции, и применению самых качественных компонентов.

						p Любое здание вмиг преобразится, если вы оснастите его алюминиевыми окнами. Новый стиль будет гарантированно оригинальным. Конечный штрих поможет поставить широчайшая палитра цветовых решений. Оттенок, а так же тип покрытия можно будет выбрать самостоятельно.

						h3 ОКНА ИЗ АЛЮМИНИЕВОГО ПРОФИЛЯ БЫСТРЫЙ И ПРОСТОЙ МОНТАЖ.

						p Распашные окна из алюминиевого профиляВ наши дни, тенденция эксплуатации окон из алюминиевых профилей растёт в геометрической прогрессии. Владельцы крупных компаний, влиятельных банков, и просто обычные граждане отдают всё чаще предпочтение оконным конструкциям из алюминиевых сплавов.

						p Все строители отмечают, что процесс монтажа окон из алюминиевого профиля крайне прост и довольно лаконичен. Самые знаменитые архитекторы начинают прибегать к использованию алюминиевых конструкций в своих дизайнерских решениях. Эти изделия необходимы как по стилистическим соображениям, так и по эксплуатационным характеристикам.

						p Специалисты ООО "Глас Проект" имеют большой опыт работы с окнами из алюминиевого профиля и выполнят монтаж в кратчайшие сроки и на высоком уровне.

						p Оставьте заявку, позвонив по телефону <a href="tel:+74957957102">+7 (495) 795-71-02</a> и убедитесь сами.

			include modules/lines

	include modules/projects
	include modules/services
block footer
	include modules/footer
	//-include modules/service-modal
