extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Услуги детально';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 3.03; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 3; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header

block content
	article.services-page
		.services-page__inner.container
			header.services-page__header
				.services-page__header-image
					img(src="img/services-page/building-large.png", srcset="img/services-page/building-large@2x.png 2x", width="422", height="570", alt="")
				h1.services-page__heading.heading.heading--large Фасадное остекление
			section.services-page__section
				.services-page__section-column
					.service-info
						h2.service-info__heading.heading Рамное
						ul.service-info__list
							li.service-info__item
								+icon('wood')(width="27", height="32")
								| Экологичность
							li.service-info__item
								+icon('shield')(width="28", height="31")
								| Безопасность
							li.service-info__item
								+icon('pen')(width="31", height="31")
								| Легкость
							li.service-info__item
								+icon('power')(width="32", height="30")
								| Прочность
						.service-info__number 01

				.services-page__section-column
					ul.services-page__service-types.service-types
						li.service-types__item(tabindex="0")
							.service-types__item-image
								img(src="img/services-page/1.png", srcset="img/services-page/1@2x.png 2x" width="239", height="239", alt="")
							.service-types__item-content
								.service-types__item-title Классическое остекление
								.service-types__item-text Пояснительный текст при ховере - пара строк. Пояснительный текст...
								a.service-types__item-btn.arrow-btn.__js_service-modal(href="#service-modal-1")
									+icon('arrow-down')

						li.service-types__item(tabindex="0")
							.service-types__item-image
								img(src="img/services-page/2.png", srcset="img/services-page/2@2x.png 2x" width="239", height="239", alt="")
							.service-types__item-content
								.service-types__item-title Структурное остекление
								.service-types__item-text Пояснительный текст при ховере - пара строк. Пояснительный текст...
								a.service-types__item-btn.arrow-btn.__js_service-modal(href="#service-modal-1")
									+icon('arrow-down')

						li.service-types__item(tabindex="0")
							.service-types__item-image
								img(src="img/services-page/3.png", srcset="img/services-page/3@2x.png 2x" width="239", height="239", alt="")
							.service-types__item-content
								.service-types__item-title Полу&shy;структурное остекление
								.service-types__item-text Пояснительный текст при ховере - пара строк. Пояснительный текст...
								a.service-types__item-btn.arrow-btn.__js_service-modal(href="#service-modal-1")
									+icon('arrow-down')

						li.service-types__item(tabindex="0")
							.service-types__item-image
								img(src="img/services-page/4.png", srcset="img/services-page/4@2x.png 2x" width="239", height="239", alt="")
							.service-types__item-content
								.service-types__item-title Модульное остекление
								.service-types__item-text Пояснительный текст при ховере - пара строк. Пояснительный текст...
								a.service-types__item-btn.arrow-btn.__js_service-modal(href="#service-modal-1")
									+icon('arrow-down')

			section.services-page__section
				.services-page__section-column
					.service-info
						h2.service-info__heading.heading Безрамное
						.service-info__number 02

				.services-page__section-column
					ul.services-page__service-types.service-types
						li.service-types__item(tabindex="0")
							.service-types__item-image
								img(src="img/services-page/5.png", srcset="img/services-page/5@2x.png 2x" width="239", height="239", alt="")
							.service-types__item-content
								.service-types__item-title Спайдерная система со стеклянными ребрами в качестве опоры
								.service-types__item-text Пояснительный текст при ховере - пара строк. Пояснительный текст...
								a.service-types__item-btn.arrow-btn.__js_service-modal(href="#service-modal-1")
									+icon('arrow-down')

						li.service-types__item(tabindex="0")
							.service-types__item-image
								img(src="img/services-page/6.png", srcset="img/services-page/6@2x.png 2x" width="239", height="239", alt="")
							.service-types__item-content
								.service-types__item-title Спайдерная система с ватами
								.service-types__item-text Пояснительный текст при ховере - пара строк. Пояснительный текст...
								a.service-types__item-btn.arrow-btn.__js_service-modal(href="#service-modal-1")
									+icon('arrow-down')

			section.services-page__version.version-type
				.version-type__item Холодное исполнение
				.version-type__item
					| Теплое исполнение
					button.version-type__btn(type="button")
						span.visually-hidden Показать подробнее
			include modules/lines

	include modules/application-section
	include modules/projects
	include modules/advantages-garden
	include modules/we-use
	include modules/clients-2
	include modules/advantages-2
	include modules/faq
	include modules/feedback
	include modules/services
block footer
	include modules/footer
	include modules/service-modal

