extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Wiki';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 9.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 9; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header

block content
	.wiki.line-page
		.wiki__container.container
			include modules/lines
			h1.wiki__title.page-title.__js_negative-shift WIKI Glass Proekt
			.wiki__abc
				.wiki__abc-item.wiki__abc-item--active
					a(href="") Все
				.wiki__abc-item
					a(href="") А
				.wiki__abc-item
					a(href="") Б
				.wiki__abc-item
					a(href="") В
				.wiki__abc-item
					a(href="") Г
				.wiki__abc-item
					a(href="") Д
				.wiki__abc-item
					a(href="") E
				.wiki__abc-item
					a(href="") Ё
				.wiki__abc-item
					a(href="") Ж
				.wiki__abc-item
					a(href="") З
				.wiki__abc-item
					a(href="") И
				.wiki__abc-item
					span К
				.wiki__abc-item
					a(href="") Л
				.wiki__abc-item
					a(href="") М
				.wiki__abc-item
					a(href="") Н
				.wiki__abc-item
					a(href="") О
				.wiki__abc-item
					span П
				.wiki__abc-item
					span Р
				.wiki__abc-item
					a(href="") С
				.wiki__abc-item
					span Т
				.wiki__abc-item
					a(href="") У
				.wiki__abc-item
					a(href="") Ф
				.wiki__abc-item
					a(href="") Х
				.wiki__abc-item
					a(href="") Ц
				.wiki__abc-item
					a(href="") Ч
				.wiki__abc-item
					a(href="") Я



			.wiki__content
				.wiki__letter
					.wiki__letter-title А
					.wiki__letter-items
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...
				.wiki__letter
					.wiki__letter-title Б
					.wiki__letter-items
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...
				.wiki__letter
					.wiki__letter-title В
					.wiki__letter-items
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...
				.wiki__letter
					.wiki__letter-title Г
					.wiki__letter-items
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...
				.wiki__letter
					.wiki__letter-title Д
					.wiki__letter-items
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...
				.wiki__letter
					.wiki__letter-title Е
					.wiki__letter-items
						a.wiki__item(href="")
							h2.wiki__item-title Спайдерное остекление
							.wiki__item-text
								p Алюминиевая Ассоциация выступила с инициативой стандартизации нормативных документов, регулирующих вопросы применения алюминия и алюминиевых сплавов в строительстве, сообщает metalinfo.ru. Для выполнения этой задачи будут созданы экспертные рабочие группы под руководством профильных компаний. Такое решение было принято на прошедшем заседании строительного сектора...

	include modules/services



block footer
	include modules/footer


