.advantages {
	background-color: $color-blue;
	position: relative;
	overflow: hidden;

	&__container {
		position: relative;
		padding-top: 66px;
		padding-bottom: 65px;

		@include media(lg) {
			padding-top: 149px;
			padding-bottom: 173px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media(lg) {
			flex-direction: row;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		position: relative;

		@include media(lg) {
			width: 100%;
			max-width: 505px;
		}
	}

	&__title {
		padding-right: 110px;
		font-size: 32px;
		line-height: 40px;
		color: $color-default-white;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;

		@include media(lg) {
			padding-right: 0;
			margin-right: 90px;
			margin-left: -7px;
			font-size: 98px;
			line-height: 110px;
		}

		br {
			@include media(lg) {
				display: none;
			}
		}
	}

	&__nav {
		position: absolute;
		top: -5px;
		right: 0;

		@include media(lg) {
			display: none;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: $color-default-white;
	}

	.advantages-prev,
	.advantages-next {
		&:focus svg {
			stroke: $color-default-white;
		}
	}

	.swiper-wrapper {
		@include media(lg) {
			flex-direction: column;
		}
	}

	&__slider {
		width: 100%;
		padding-top: 45px;
		overflow: visible;

		@include media(lg) {
			max-width: 380px;
			margin: 0 -28px 0 0;
			padding-top: 36px;
		}
	}

	&__item {
		width: 268px;

		@include media(lg) {
			width: 100%;
			height: auto;
		}

		+ .advantages__item {
			@include media(lg) {
				margin-top: 96px;
			}
		}
	}
}
