.advantages-item {
	$self: &;

	display: flex;
	flex-direction: column;
	color: $color-default-white;

	@include media(lg) {
		flex-direction: row;
	}

	&--simple {
		#{$self}__title,
		#{$self}__text {
			color: $color-default-black;
		}
		#{$self}__text {
			max-width: 280px;
		}

		#{$self}__icon {
			@include media(lg) {
				flex-shrink: 0;
			}
		}
		#{$self}__top {
			@include media(lg) {
				padding-left: 20px;
				margin-right: 20px;
			}
		}
	}

	&__top {
		display: flex;
		align-items: center;

		@include media(lg) {
			max-width: 113px;
			width: 100%;
			height: 110px;
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		max-width: 70px;
		width: 100%;
		height: 70px;
		margin-right: 5px;
		margin-bottom: 10px;

		@include media(lg) {
			max-width: 110px;
			height: 110px;
			margin-right: 20px;
			margin-bottom: 0;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font-size: 22px;
		line-height: 28px;
		font-weight: 700;
		letter-spacing: -0.07em;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
	}

	&__content {
		#{$self} {
			&__title {
				display: none;

				@include media(lg) {
					display: block;
				}
			}
		}

		&--mobile {
			#{$self} {
				&__title {
					display: block;

					@include media(lg) {
						display: none;
					}
				}
			}
		}
	}
}
