.application-example {
	$self: &;

	@include hover {
		#{$self}__image {
			img {
				transform: scale(1.1);
			}
		}
	}

	&__image {
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;

			@include transition(transform);
		}
	}

	&__count {
		position: relative;
		z-index: 1;
		margin-top: -32px;
		margin-bottom: 24px;
		margin-left: 16px;

		@include text(44px, 1, $color-default-white);
		font-weight: 200;
		letter-spacing: -0.07em;

		@include media(lg) {
			font-size: 64px;
		}
	}

	&__title {
		margin-left: 16px;

		@include text(17px, 1.27, $color-default-white);
		font-weight: 900;
		letter-spacing: -0.07em;

		@include media(lg) {
			font-size: 22px;
		}
	}
}
