.clients {
	background-color: $color-dark2;
	position: relative;
	overflow: hidden;

	.lines {
		opacity: 0.16;
	}

	&__container {
		position: relative;
		padding: 32px 32px 30px;

		@include media(lg) {
			padding: 148px 15px 190px;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__title {
		color: $color-default-white;

		@include media(lg) {
			margin-left: -7px;
		}
	}

	&__nav {
		@include media(lg) {
			padding-top: 30px;
		}
	}

	&__all {
		display: inline-block;
		font-family: $font-family--secondary;
		font-size: 18px;
		line-height: 26px;
		color: $color-default-white;
		text-decoration: underline;
		@include transition(color);

		@include hover {
			color: $color-blue;
			text-decoration: underline;
		}

		span {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	&__slider {
		height: 250px;
		margin-top: 28px;
		overflow: visible;

		@include media(lg) {
			height: 370px;
			margin-top: 52px;
		}

		/*&::before {
			content: '';
			display: block;
			width: 200%;
			height: 100%;
			background-color: $color-dark2;
			position: absolute;
			left: calc(-200% - 1px);
			top: 0;
			z-index: 10;
		}*/


	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 225px;
		height: 107px;
		margin-bottom: 15px;
		margin-top: 0 !important;
		background-color: rgba($color-default-white, 0.02);

		&--high {
			@include media(lg) {
				height: 230px;
			}
		}

		opacity: 0;
		user-select: none;
		pointer-events: none;
		transition: 0.3s opacity;
		&.swiper-slide-visible{
			opacity: 1;
			user-select: auto;
			pointer-events: auto;
			~ .swiper-slide{
				opacity: 1;
				user-select: auto;
				pointer-events: auto;
			}
		}
	}
}
