.clients {
	background-color: $color-dark2;
	position: relative;
	overflow: hidden;

	.lines {
		opacity: 0.16;
	}

	&__container {
		position: relative;
		padding: 148px 15px 190px;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__title {
		color: $color-default-white;
		margin-left: -7px;
	}

	&__nav {
		padding-top: 30px;
	}

	&__all {
		font-family: $font-family--secondary;
		font-size: 18px;
		line-height: 26px;
		color: $color-default-white;
		text-decoration: underline;
		@include transition(color);

		@include hover {
			color: $color-blue;
			text-decoration: underline;
		}

		span {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	&__slider {
		margin-top: 52px;
		overflow: visible;

		&::before {
			content: '';
			display: block;
			width: 200%;
			height: 100%;
			background-color: $color-dark2;
			position: absolute;
			left: calc(-200% - 1px);
			top: 0;
			z-index: 10;
		}
	}

	&__grid {
		display: flex;
		justify-content: flex-end;
	}

	&__group {
		max-width: 225px;
		width: 100%;
		margin-right: 15px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 107px;
		margin-bottom: 15px;
		background-color: rgba($color-default-white, 0.02);

		&--high {
			height: 230px;
		}
	}
}
