.dropdown {
	$self: &;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	display: none;

	width: 100%;
	height: 100%;
	padding: 90px 32px 32px 32px;

	background-color: $color-blue;

	&--simple {
		#{$self}__item {
			margin-bottom: 32px;
		}
	}

	@include media(lg) {
		width: 50%;
		left: auto;
		right: 0;

		//display: block;
		padding: 132px 64px 64px;
	}

	&__wrapper {
		padding-bottom: 32px;
		height: calc(100% - 32px);

		@include media(lg) {
			//background-color: #ddd;

			height: calc(100% + 64px);
			margin-bottom: -64px;
		}

		.simplebar-track {
			width: 4px;
			right: auto;
			left: -18px;

			@include media(lg) {
				left: -32px;
			}

			.simplebar-scrollbar {
				background-color: $color-dark2;
				border-radius: 100px;
			}
		}
	}

	&__back {
		display: block;
		width: 32px;
		height: 32px;
		margin-bottom: 32px;
		padding: 0;
		border: none;
		background-color: transparent;
		appearance: none;

		svg {
			fill: $color-default-white;
		}

		@include media(lg) {
			display: none;
		}
	}

	&__section {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 32px;

		a {
			@include text(22px, 1.27, $color-default-white);
			font-weight: 900;

			&.current {
			}

			@include hover {
			}
		}
	}

	&__list {
		@include list-reset;
		display: flex;
		flex-wrap: wrap;

		@include media-custom-height(580px) {
			display: block;
		}
	}

	&__title ~ &__list {
		margin-left: 6px;
	}

	&__item {
		margin-bottom: 16px;
		width: 50%;

		@include media-custom-height(580px) {
			width: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			transition: color 0.2s;
			@include text(16px, 1.25, $color-default-white);
			font-weight: 600;

			@include hover {
				color: #172328;
			}
		}

		&--current {
			a {
			}
		}
	}
}
