.field {
	$self: &;

	position: relative;
	display: block;
	width: 100%;
	cursor: text;

	input[type='text'],
	input[type='email'],
	textarea,
	.select,
	.chosen-container {
		display: block;
		width: 100%;
		padding: 26px 15px 26px 0;
		border-bottom: 3px solid rgba($color-pale-sky, 0.12);
		appearance: none;
		color: $color-gray-f9;
		box-sizing: border-box;
		@include text(14px, 1);

		&::placeholder {
			@include text(14px, 1);
			letter-spacing: -0.2px;
			color: $color-gray-bb;
			opacity: 1;
		}

		&:focus {
			color: $color-gray-f9;
			background-color: $color-dark2;

			&::placeholder {
				opacity: 0;
			}
		}
	}

	textarea {
		resize: none;
	}

	.chosen-container {
		cursor: pointer;
		padding: 0;

		.chosen-drop {
			width: 100%;
			background-color: $color-dark2;
			border-radius: 0;
			border: none;

			.chosen-results li {
				padding: 10px;
				border-bottom: 3px solid rgba($color-pale-sky, 0.12);
				font-family: $font-family--secondary;
				text-overflow: ellipsis;
				color: $color-gray-bb;

				@include media(lg) {
					padding: 16px 25px 16px 57px;
				}

				&.no-results {
					background: transparent;
				}
			}
		}

		&-single {
			.chosen-search {
				position: absolute;
				top: -50px;
				left: 50px;

				input[type="text"] {
					background: none;
					border: none;
				}
			}

			.chosen-single div {
				width: 56px;
				@include transition(transform);

				&.rotate {
					transform: rotate(180deg);
				}

				b {
					background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='23' viewBox='0 0 15 29' stroke-width='3px' stroke='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 1L14 14.5L0.5 28' fill='none'/%3e%3c/svg%3e ")
					no-repeat center;
					transform: rotate(90deg);
				}
			}
		}

		&-active.chosen-with-drop {
			background-color: $color-dark2;

			.chosen-single {
				border: none;
				background: none;
				box-shadow: none;
			}
		}
	}

	.chosen-single {
		height: auto;
		padding: 23px 15px 23px 0;
		background: transparent;
		border: none;
		border-radius: 0;
		color: $color-gray-bb;
		box-shadow: none;

		.current {
			@include transition(color);
		}
	}

	&--radio {
		display: flex;
		align-items: center;
		width: auto;
		cursor: pointer;

		input[type='radio'] {
			display: none;

			&:checked + .inner {
				border-color: $color-blue;

				&::after {
					opacity: 1;
				}
			}
		}

		.inner {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 18px;
			height: 18px;
			border: 2px solid $color-gray-bb;
			border-radius: 50%;
			margin-right: 11px;
			box-sizing: border-box;

			@include media(lg) {
				margin-right: 8px;
			}

			&::after {
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $color-blue;
				opacity: 0;
			}
		}

		span {
			display: inline-block;
			font-family: $font-family--secondary;
			font-size: 14px;
			color: $color-gray-bb;
		}
	}

	&--switch {
		display: flex;
		align-items: center;
		width: auto;
		cursor: pointer;

		span {
			padding-right: 27px;
			font-family: $font-family--secondary;
			font-size: 14px;
			color: $color-gray-bb;

			@include media(lg) {
				padding-right: 17px;
			}
		}

		input[type='checkbox'] {
			display: none;

			&:checked + .inner {
				background-color: $color-dark-blue;

				&::after {
					transform: translateX(100%);
					background-color: $color-light-blue;
				}
			}
		}

		.inner {
			display: flex;
			align-items: center;
			width: 35px;
			height: 14px;
			background-color: $color-gray-99;
			border-radius: 8px;
			cursor: pointer;
			@include transition(background-color);

			&::after {
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: $color-gray-ee;
				box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.23);
				transform: translateX(-3px);
				@include transition(all);
			}
		}
	}
}
