.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	background-color: rgba($color-default-black, 0.12);
	overflow: hidden;

	&__wrapper {
		padding: 30px 28px 0 31px;

		@include media(lg) {
			padding: 116px 40px 0;
		}
	}

	&__types {
		display: flex;
		margin-bottom: 37px;

		@include media(lg) {
			margin-bottom: 24px;
		}
	}

	&__type {
		width: 50%;

		@include media(xs) {
			width: 68%;
		}

		@include media(lg) {
			width: 57%;
		}

		&:last-child {
			width: 50%;

			@include media(xs) {
				width: 32%;
			}

			@include media(lg) {
				width: 43%;
			}
		}

		label {
			display: flex;
			flex-direction: column;
			cursor: pointer;

			input {
				display: none;

				&:checked + svg {
					fill: $color-blue;

					+ span {
						color: $color-blue;
					}
				}
			}

			svg {
				fill: $color-gray-f9;
				margin: 0 auto 15px;
				@include transition(fill);

				@include media(xs) {
					margin: 0 0 38px;
				}
			}

			span {
				font-size: 16px;
				color: $color-gray-f9;
				text-align: center;
				@include transition(color);

				@include media(xs) {
					text-align: left;
				}
			}
		}
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		.form__field {
			width: 100%;
			margin: 0 0 15px;

			@include media(xs) {
				width: calc(50% - 20px);
				margin: 0 10px 15px;
			}

			@include media(lg) {
				width: calc(33.3333% - 20px);
				margin: 0 10px 11px;
			}

			&:nth-child(odd) {
				width: 100%;

				@include media(xs) {
					width: calc(46% - 20px);
				}

				@include media(lg) {
					width: calc(33.3333% - 20px);
				}
			}

			&:nth-child(even) {
				width: 100%;

				@include media(xs) {
					width: calc(54% - 20px);
				}

				@include media(lg) {
					width: calc(33.3333% - 20px);
				}
			}

			&--full {
				width: 100%;
			}

			&--disabled {
				pointer-events: none;
				color: $color-pale-sky;

				&::after {
					border-bottom-color: $color-pale-sky;
					border-right-color: $color-pale-sky;
				}
			}
		}

		&--w50 {
			@include media(lg) {
				margin: 0 -7.5px;
			}

			.form__field {
				@include media(lg) {
					width: calc(42% - 15px);
					margin: 0 7.5px 4px;
				}

				&:last-child {
					@include media(lg) {
						width: calc(58% - 15px);
					}
				}
			}
		}
	}

	&__field {
		&--textarea {
			width: calc(100% + 20px);
			margin: 8px -10px 0;

			@include media(lg) {
				width: 100%;
				margin: 8px 0 0;
				margin-top: 43px;
			}

			textarea {
				padding: 17px 15px 17px 0;
			}
		}
	}

	&__switch {
		text-align: right;
		margin: 31px 0 20px;

		@include media(lg) {
			margin: 54px 0 45px;
		}

		label {
			display: inline-flex;
		}
	}

	&__radio-group {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 32px;

		@include media(xl) {
			display: flex;
			flex-direction: row;
		}

		label {
			+ label {
				margin-top: 37px;

				@include media(lg) {
					margin-top: 10px;
				}

				@include media(xl) {
					margin-top: 0;
				}
			}
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;

		@include media(lg) {
			flex-direction: row;
		}
	}

	&__nav-btn {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 35px;
		box-sizing: border-box;
		cursor: pointer;
		@include transition(background-color);

		@include media(lg) {
			width: 50%;
		}

		@include media(xl) {
			padding: 53px 35px;
		}

		@include hover {
			background-color: $color-blue;
		}

		&:last-child {
			background-color: $color-blue;

			@include media(lg) {
				background-color: transparent;

				@include hover {
					background-color: $color-blue;
				}
			}
		}

		input {
			display: none;
		}

		svg {
			max-width: 27px;
			width: 100%;
			margin-right: 28px;
		}

		span {
			font-size: 16px;
			color: $color-default-white;
		}

		&--file {
			@include media(xl) {
				padding: 53px 30px 53px 63px;
			}
		}
	}
}
