.heading {
	margin: 0;

	@include text(32px, 1.25);
	font-weight: 900;

	@include media(md) {
		font-size: 40px;
	}

	@include media(xl) {
		font-size: 48px;
	}

	&--upper {
		text-transform: uppercase;
	}
}
