.materials {
	overflow: hidden;

	&__inner {
		position: relative;
		padding-top: 50px;
		padding-bottom: 80px;

		@include media(lg) {
			//display: flex;
			//flex-direction: column;
			padding-bottom: 138px;
		}
	}

	&__heading {
		margin: 0 0 32px;

		@include media(lg) {
			margin-bottom: 50px;
		}
	}

	&__block {
		position: relative;
		z-index: 1;
	}

	&__block + &__block,
	&__group + &__group {
		margin-top: 32px;

		@include media(lg) {
			margin-top: 64px;
		}
	}

	.lines {
		.line {
			background-color: rgba($color-dark2, 0.16);
		}
	}
}
