.office {
	&-top {
		position: relative;
		overflow: hidden;

		&__container {
			position: relative;
			padding-top: 28px;
			padding-bottom: 50px;

			@include media(md) {
				padding-top: 49px;
				padding-bottom: 111px;
			}

			&::after {
				@include media(md) {
					content: "";
					display: block;
					background: #ffffff;
					width: calc(100% + 153px);
					height: 200px;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 0;
				}

				@include media(lg) {
					height: 246px;
				}
			}
		}

		&__title {
			margin: 0;
		}

		&__text {
			font-weight: 700;
			font-size: 22px;
			line-height: 1.27;
			letter-spacing: -0.07em;
			color: #172328;
			margin-top: 32px;
		}

		&__left {
			box-sizing: border-box;
			position: relative;
			z-index: 1;

			@include media(md) {
				width: 50%;
				min-height: 330px;
				box-sizing: border-box;
				padding-right: 44px;
			}

			@include media(lg) {
				min-height: 449px;
			}
		}

		&__right {
			width: 100%;
			box-sizing: border-box;
			position: relative;

			@include media(md) {
				width: 50%;
				height: 330px;
				position: absolute;
				z-index: 2;
				right: 0;
				top: 55px;
			}

			@include media(lg) {
				height: 449px;
			}

			img,
			video {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&::before {
				content: "";
				z-index: 2;
				display: block;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.26),
					rgba(0, 0, 0, 0.26)
				);
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		&__play {
			cursor: pointer;
			display: block;
			width: 77px;
			height: 77px;
			filter: drop-shadow(0px 16px 22px rgba(0, 0, 0, 0.09));
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -38px;
			margin-left: -38px;
			transition: transform 0.1s;
			border-radius: 50%;
			background: $color-blue;
			background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8801 3.62689C11.8801 2.80517 12.8162 2.33416 13.476 2.82387L28.7103 14.1299C29.249 14.5297 29.249 15.3361 28.7103 15.736L13.4761 27.0423C12.8162 27.532 11.8801 27.061 11.8801 26.2393L11.8801 14.9331L11.8801 3.62689Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center left 47%;
			z-index: 3;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&-bottom {
		&__container {
			position: relative;
		}

		&__block {
			padding-bottom: 64px;
			padding-top: 35px;

			@include media(md) {
				padding-bottom: 100px;
				padding-top: 40px;

				&:first-child {
					padding-top: 0;
					margin-top: -74px;

					.office-bottom__block-title {
						max-width: 470px;
						margin-top: -155px;
					}
				}
			}

			@include media(lg) {
				padding-bottom: 137px;
				padding-top: 45px;
			}

			+ .project-detail__block {
				padding-top: 0;
			}

			&-top {
				margin-bottom: 47px;
			}

			&-count {
				font-weight: 200;
				font-size: 200px;
				line-height: 160px;
				letter-spacing: -0.08em;
				color: #677b83;
				opacity: 0.04;
				pointer-events: none;

				@include media(md) {
					font-size: 250px;
					line-height: 195px;
				}

				@include media(lg) {
					font-size: 322px;
					line-height: 227px;
				}
			}

			&-title {
				margin: 0;
				font-weight: 700;
				line-height: 1.12;
				letter-spacing: -0.04em;
				margin-top: -160px;
				font-size: 32px;
				min-height: 150px;
				display: flex;
				align-items: flex-end;

				@include media(md) {
					min-height: 185px;
					margin-top: -195px;
					font-size: 40px;
				}

				@include media(lg) {
					min-height: 217px;
					margin-top: -227px;
					font-size: 64px;
				}
			}
		}
	}

	&-staf {
		&__content {
			display: flex;
			flex-wrap: wrap;
			margin-left: -8px;
			margin-right: -8px;
			margin-top: -8px;
		}

		&__item {
			$item: &;

			width: 100%;
			box-sizing: border-box;
			padding: 8px;

			&--link {
				#{$item}-inner {
					@include hover {
						#{$item}-name {
							text-decoration: underline;
						}
					}
				}
			}

			@include media(md) {
				width: 50%;
			}

			@include media(lg) {
				width: 33.3333%;
			}

			&-inner {
				position: relative;
				display: block;
				padding-bottom: 134.9%;
				background: #677b83;
				width: 100%;
				overflow: hidden;

				&::before {
					content: "";
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
					background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 0%,
						rgba(0, 0, 0, 0.16) 100%
					);
				}

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					transition: 0.3s;
				}

				&:hover {
					img {
						width: 110%;
						height: 110%;
						left: -5%;
						top: -5%;
					}
				}
			}

			&-content {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				position: absolute;
				z-index: 3;
				top: 0;
				left: 0;
				box-sizing: border-box;
				padding: 30px 16px;
			}

			&-name {
				font-weight: bold;
				font-size: 25px;
				line-height: 1;
				letter-spacing: -0.07em;
				color: #ffffff;
			}

			&-post {
				margin-top: 13px;
				font-size: 22px;
				line-height: 1.27;
				letter-spacing: -0.07em;
				color: #ffffff;
			}
		}

		&--big {
			@include media(lg) {
				.office-staf__content {
					margin-left: -10px;
					margin-right: -10px;
					margin-top: -10px;
				}
				.office-staf__item-inner {
					padding-bottom: 135.39%;
				}
				.office-staf__item {
					width: 50%;
					padding: 10px;
					&-content {
						padding: 56px 24px;
					}
					&-name {
						font-size: 42px;
					}
					&-post {
						margin-top: 24px;
					}
				}
			}
		}
	}

	&-office {
		&__content {
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}

	&-modal {
		display: none;
		width: 1088px;
		max-width: 100%;
		background: #ffffff;

		&__close {
			position: absolute;
			right: 16px;
			top: 16px;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
		&__flex {
			display: flex;
			min-height: 522px;
		}
		&__left {
			flex-shrink: 0;
			width: 385px;
			max-height: 522px;
			position: relative;
			display: none;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			padding: 56px 24px;
			box-sizing: border-box;
			@include media(md) {
				display: flex;
			}
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.16) 100%
				);
			}
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				transition: 0.3s;
			}
			&-name {
				font-size: 42px;
				position: relative;
				z-index: 3;
				font-weight: bold;
				line-height: 1;
				letter-spacing: -0.07em;
				color: #ffffff;
			}
			&-post {
				margin-top: 24px;
				position: relative;
				z-index: 3;
				font-size: 22px;
				line-height: 1.27;
				letter-spacing: -0.07em;
				color: #ffffff;
			}
		}
		&__right {
			padding: 32px;
			box-sizing: border-box;
		}
		&__title {
			font-weight: 700;
			font-size: 22px;
			line-height: 1.27;
			letter-spacing: -0.07em;
			padding-right: 50px;
			margin-bottom: 32px;
		}
		&__count {
			font-weight: 200;
			font-size: 50px;
			line-height: 0.64;
			letter-spacing: -0.07em;
			color: #677b83;
			opacity: 0.32;
			margin-bottom: 10px;
		}
		&__text {
			font-size: 14px;
			line-height: 20px;
			font-family: $font-family--secondary;
		}
		&__list {
			margin-top: 42px;
			list-style: none;
			padding: 0;
			li {
				min-height: 35px;
				display: flex;
				position: relative;
				align-items: center;
				font-size: 14px;
				line-height: 1.43;
				font-family: $font-family--secondary;
				+ li {
					margin-top: 16px;
				}
				&::before {
					content: "";
					display: block;
					width: 35px;
					height: 35px;
					margin-right: 18px;
					flex-shrink: 0;
					box-sizing: border-box;
					border: 1px solid #ced4d7;
					border-radius: 50%;
					background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.98118 11.8762C5.85342 12.0304 5.63246 12.0422 5.49016 11.9023L0.110919 6.6134C-0.0313805 6.47351 -0.0375674 6.23812 0.0970181 6.0903L1.81087 4.209C1.94554 4.06118 2.17213 4.05475 2.31443 4.19456L5.25289 7.08349C5.39519 7.22339 5.61615 7.21162 5.74391 7.05737L11.4846 0.128222C11.6124 -0.0260278 11.8385 -0.0436395 11.9869 0.089159L13.8766 1.77873C14.0251 1.91145 14.042 2.14633 13.9142 2.30058L5.98118 11.8762Z' fill='%23677B83'/%3E%3C/svg%3E%0A");
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
