.plan {
	height: auto;
	padding-top: 20px;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 100;
	background-color: $color-athens-gray;

	@include media(lg) {
		height: 100vh;
		padding-top: 100px;
		position: absolute;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		position: relative;
		transition: filter 0.7s ease;

		&.inactive {
			-webkit-filter: blur(7px);
			-moz-filter: blur(7px);
			-o-filter: blur(7px);
			-ms-filter: blur(7px);
			filter: blur(7px);
		}


		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@include media(lg) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		svg {
			box-shadow: 0 16px 16px rgba(0, 0, 0, 0.08);
			border-radius: 50%;
			position: absolute;
			cursor: pointer;
			left: 50%;
			top: 50%;

			@include hover {
				.outer {
					fill: $color-blue;
				}
			}

			.outer {
				@include transition(fill);
			}
		}
	}

	&__dots{
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
	}

	&__title {
		max-width: 938px;
		width: 100%;
		position: relative;
		z-index: 1;
	}

	&__image {
		/*height: 556px;*/
		position: relative;
		width: 130%;
		margin-left: -15%;

		@include media(lg) {
			max-height: none;
			height: auto;
			width: 120%;
			margin-left: -10%;
			margin-top: -42px;
		}
		@include media(xxl){
			width: 108%;
			margin-left: -4%;
		}


		&::before,
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 215px;
			background: linear-gradient(180deg, $color-athens-gray 58.85%, rgba(250, 250, 250, 0) 100%);
			position: absolute;
			left: 0;
			pointer-events: none;
			@include media(lg) {
				display: none;
			}
		}

		&::before {
			top: -75px;
		}

		&::after {
			bottom: -100px;
			transform: rotate(180deg);
		}

		@include media(lg) {
			&::before {
				padding-top: 54.15861%;
				display: block;
				content: "";
				position: static;
				background: none;
				width: 100%;
			}
		}
	}

	&__caption {
		position: absolute;
	}

	&__anchor {
		display: none;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: $color-blue;
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		@include transition(background-color);

		@include hover {
			background-color: rgba($color-blue, 0.75);
		}

		svg {
			fill: $color-default-white;
		}

		@include media(lg) {
			display: flex;
		}
	}
}
