.preview-card {
	$self: &;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	padding: 20px 18px 20px 15px;
	margin-bottom: 10px;
	box-sizing: border-box;
	position: relative;

	@include media(lg) {
		padding: 36px 33px 36px 26px;
	}

	@include hover {
		.preview-card__image {
			&::after {
				opacity: 1;
			}

			img {
				width: 105%;
				height: 105%;
			}
		}

		.preview-card__bg-digit {
			color: $color-default-white;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;

		@include media(lg) {
			padding-top: 50px;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			margin-top: 50px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			pointer-events: none;
		}

		&::before {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
		}

		&::after {
			opacity: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.72) 100%);
			@include transition(opacity);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition(all);
		}
	}

	&__bg-digit {
		display: none;
		font-size: 322px;
		line-height: 120px;
		font-weight: 200;
		letter-spacing: -0.08em;
		color: rgba($color-pale-sky, 0.05);
		position: absolute;
		top: 58px;
		left: -18px;
		z-index: 2;
		@include transition(color);

		@include media(lg) {
			display: block;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		position: relative;
		z-index: 2;
	}

	&__tags {
		display: flex;
	}

	&__tag,
	&__date {
		padding: 2px 6px;
		font-family: $font-family--secondary;
		font-size: 11px;

		@include media(lg) {
			font-size: 18px;
			padding: 3px 10px;
		}
	}

	&__tag {
		background-color: $color-blue;
		color: $color-default-white;
		margin-bottom: 3px;

		@include media(lg) {
			margin-bottom: 7px;
		}

		&:not(:last-child) {
			margin-right: 8.5px;
		}
	}

	&__date {
		display: inline-block;
		background-color: $color-default-white;
		color: $color-dark2;
	}

	&__digit {
		font-size: 44px;
		line-height: 32px;
		font-weight: 200;
		letter-spacing: -0.07em;
		color: $color-default-white;
		margin-bottom: 17px;

		@include media(lg) {
			font-size: 64px;
			margin-bottom: 40px;
		}
	}

	&__bottom-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		max-width: 80%;
		font-size: 17px;
		line-height: 21px;
		font-weight: 700;
		color: $color-default-white;
		letter-spacing: -0.07em;

		@include media(lg) {
			font-size: 22px;
			line-height: 28px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-color: $color-blue;
		border-radius: 50%;
		@include transition(background-color);

		@include media(lg) {
			width: 60px;
			height: 60px;
		}

		@include hover {
			background-color: rgba($color-blue, 0.85);
		}

		svg {
			width: 45%;
			height: 45%;
			fill: $color-default-white;
			transform: rotate(-90deg);
		}
	}

	&--with-tags {
		#{$self} {
			&__image {
				padding-top: 0;

				&::before,
				&::after {
					margin-top: 0;
				}
			}

			&__content {
				justify-content: space-between;
			}

			&__bottom-wrapper {
				align-items: flex-end;

				@include media(lg) {
					align-items: flex-start;
				}
			}
		}
	}
}
