.projects {
	overflow: hidden;

	&__container {
		padding-top: 47px;
		padding-bottom: 55px;

		@include media(lg) {
			padding-top: 23px;
			padding-bottom: 0;
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		padding-right: 165px;
		position: relative;

		@include media(lg) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-right: 0;
			margin-bottom: -28px;
			margin-left: -7px;
		}
	}

	&__title {
		font-family: $font-family--main;
		font-weight: 700;
		position: relative;
		z-index: 2;
	}

	&__all {
		display: inline-block;
		padding-top: 4px;
		font-family: $font-family--secondary;
		font-size: 18px;
		color: $color-dark2;
		text-decoration: underline;
		@include transition(color);

		@include media(lg) {
			padding-top: 30px;
			margin: 0 68px 0 10px;
		}

		@include hover {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	&__nav {
		position: absolute;
		top: 28px;
		right: 0;

		@include media(lg) {
			padding-top: 30px;
			padding-right: 11px;
			position: relative;
			top: 0;
			right: unset;
		}
	}

	&__slider {
		overflow: visible;
		padding-top: 40px;

		@include media(lg) {
			padding-top: 67px;
			border-left: 1px solid $color-gray-e5;
		}

		/*&::before {
			content: '';
			display: block;
			width: 200%;
			height: 100%;
			background-color: $color-gray-fa;
			position: absolute;
			left: calc(-200% - 1px);
			top: 0;
			z-index: 10;
		}*/
	}

	&__slide {
		max-width: 257px;
		height: 357px;
		opacity: 0;
		user-select: none;
		pointer-events: none;
		transition: 0.3s opacity;
		&.swiper-slide-visible{
			opacity: 1;
			user-select: auto;
			pointer-events: auto;
			~ .swiper-slide{
				opacity: 1;
				user-select: auto;
				pointer-events: auto;
			}
		}

		@include media(lg) {
			max-width: 480px;
			height: 718px;
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			height: 10px;
			background-color: $color-blue;
			position: absolute;
			bottom: -10px;
			left: 0;
			@include transition(width);
		}

		&.swiper-slide-active::after {
			width: 100%;
		}
	}
}
