.reviews{
	&__container{
		position: relative;
		padding-top: 28px;
		padding-bottom: 50px;
		@include media(md){
			padding-top: 49px;
			padding-bottom: 113px;
		}
	}
	&__title{
		margin: 0;
	}

	&__flex{
		display: flex;
		margin-top: 64px;
		flex-direction: column-reverse;
		@include media(md){
			flex-direction: row;
		}

		&--certs{
			margin-top: 32px;
			@include media(md){
				flex-direction: row-reverse;
			}
			.reviews__item{
				@include media(md){
					justify-content: flex-end;
				}
			}
		}
	}
	&__left{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: -8px;
		margin-right: -8px;
		@include media(md){
			width: 50%;
			margin: 0;
		}
	}
	&__item{
		width: 50%;
		margin-bottom: 16px;
		display: flex;
		justify-content: flex-start;
		padding: 0 8px;
		@include media(md){
			padding: 0;
			margin-bottom: 32px;
		}
		@include media(lg){
			margin-bottom: 52px;
		}
		&-inner{
			position: relative;
			overflow: hidden;
			max-width: 100%;
			width: 100%;
			@include media(md){
				width: 166px;
				max-width: 90%;
			}
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
				cursor: pointer;
				transition: 0.2s;
				z-index: 1;
				&:hover{
					width: 106%;
					height: 106%;
					top: -3%;
					left: -3%;
				}
			}
		}
		&-content{
			padding-bottom: 149%;
			width: 100%;
		}
		&-btn{
			z-index: 3;
			position: absolute;
			left: 50%;
			bottom: 16px;
			transform: translateX(-50%);
			padding: 5px 11px;
			display: flex;
			align-items: center;
			background: #01A5E4;
			text-decoration: none;
			font-size: 12px;
			line-height: 22px;
			color: #FFFFFF;
			transition: background-color 0.3s ease;
			font-weight: 500;
			font-family: $font-family--secondary;
			svg{
				flex-shrink: 0;
			}
			span{
				margin: 0 10px;
				white-space: nowrap;
			}
			&:hover{
				background-color: rgba(1, 165, 228, 0.85);
			}
		}

		&--hide{
			display: none;
		}
	}
	&__right{
		display: none;
		@include media(md){
			width: 50%;
			display: block;
		}
		img{
			display: block;
			width: 100%;
			position: sticky;
			top: 0;
		}
	}
}

.certificates {
	&__container {
		position: relative;
		padding-top: 28px;
		padding-bottom: 50px;
		@include media(md) {
			padding-top: 49px;
			padding-bottom: 113px;
		}
	}

	&__title {
		margin: 0;
	}

	&__cats{
		margin-top: 30px;
	}
}
