.services {
	background-color: $color-dark2;

	&__container {
		position: relative;
		padding-top: 68px;
		padding-bottom: 44px;

		@include media(lg) {
			padding-top: 31px;
		}
	}

	.lines {
		opacity: 0.16;
	}

	&__title {
		margin-bottom: 36px;
		color: $color-default-white;

		@include media(lg) {
			margin-bottom: 56px;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: 100%;
		margin-bottom: 5px;

		@include media(lg) {
			width: 25%;
			margin-bottom: 33px;
		}
	}
}
