.services-list {
	@include list-reset;

	margin-top: -32px;

	@include media(md) {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-top: 32px;

		@include media(md) {
			width: 50%;
		}
	}
}
