.service-section {
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: $font-family--secondary;
		font-size: 18px;
		line-height: 21px;
		font-weight: 900;
		margin-bottom: 18px;
		color: $color-default-white;
		@include transition(color);

		@include hover {
			color: $color-blue;
		}

		&.open {
			svg {
				transform: rotate(270deg);
			}
		}

		svg {
			stroke: $color-default-white;
			transform: rotate(90deg);
			margin-left: 5px;
			@include transition(transform);

			@include media(lg) {
				display: none;
			}
		}

		br {
			display: none;

			@include media(lg) {
				display: block;
			}
		}
	}

	&__links-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 34px;

		@include media(lg) {
			margin-bottom: 0;
		}
	}

	&__links {
		display: none;
		flex-direction: column;

		@include media(lg) {
			display: flex;
		}

		a {
			font-family: $font-family--secondary;
			font-size: 12px;
			line-height: 14px;
			color: $color-pale-sky;
			text-decoration: underline;

			@include hover {
				text-decoration: none;
			}

			+ a {
				margin-top: 12px;
			}
		}
	}
}
