.version-type {
	counter-reset: version;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba($color-pale-sky, 0.08);
	border-bottom: solid 2px $color-default-white;

	@include media(lg) {
		padding-bottom: 0;
	}

	&__item {
		position: relative;
		width: calc(50% - 1px);
		padding: 32px 24px 24px;
		counter-increment: version;

		@include text(13px, 1.27);
		font-weight: 900;
		letter-spacing: -0.07em;

		@include media(lg) {
			width: 50%;
			padding-bottom: 65px;
			font-size: 22px;
		}

		&::before {
			content: "0" counter(version);
			display: block;
			margin-bottom: 10px;

			@include text(32px, 1, $color-dark2);
			font-weight: 200;
			letter-spacing: -0.07em;

			@include media(sm) {
				font-size: 64px;
				margin-bottom: 24px;
			}
		}

		&-info {
			position: absolute;
			top: 32px;
			right: 24px;
		}
	}

	&__btn {
		display: block;
		width: 35px;
		height: 35px;
		border: none;
		border-radius: 50%;
		background-color: $color-default-white;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='5' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.058 5.304h3.307L3.307 17H0L1.058 5.304zM5 0l-.238 2.849H1.085L1.323 0H5z' fill='%2301A5E4'/%3e%3c/svg%3e");
		appearance: none;
		cursor: pointer;
		filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.12));

		@include media(lg) {
			top: 42px;
		}
	}

	&__bubble {
		position: absolute;
		left: -12px;
		top: 50%;
		transform: translateX(-100%) translateY(-50%);

		@include media(sm) {
			left: -32px;
		}
	}
}
