.webpage {
	$self: &;
	background-color: $color-athens-gray;

	&--hidden {
		overflow: hidden !important;
	}

	@include transition(margin-right);
}

body.blocked {
	position: fixed;
	width: 100%;
	overflow-y: scroll;
}

.js-content {
	position: relative;
	z-index: 1;
}

.page-title {
	font-size: 40px;
	line-height: 1.12;
	letter-spacing: -0.05em;
	font-weight: 700;
	color: #172328;

	@include media(md) {
		font-size: 60px;
	}
	@include media(lg) {
		font-size: 98px;
	}
}

.line-page {
	.lines {
		z-index: -1;
		opacity: 0.33;
		.line {
			background: #172328;
			opacity: 0.16;
		}
	}
}

.cats-row {
	display: flex;
	margin-left: -2px;
	margin-right: -2px;
	flex-wrap: wrap;
	&-item {
		margin: 2px 2px;
		a {
			padding: 4px 10px;
			font-size: 18px;
			line-height: 26px;
			font-family: $font-family--secondary;
			color: #677b83;
			display: block;
			background: #ffffff;
			text-decoration: none;
			width: 100%;
			text-align: center;
			&:hover {
				color: $color-dark;
			}
		}
		&--active {
			a {
				background: #01a5e4;
				color: #ffffff;
				&:hover {
					color: #ffffff;
				}
			}
		}
	}
}
