.wiki {
	.lines {
		z-index: -1;
		opacity: 0.33;
		.line {
			background: #172328;
			opacity: 0.16;
		}
	}
	&__container{
		position: relative;
		padding-top: 49px;
		padding-bottom: 162px;
	}

	&__title{
		margin: 0;
		font-size: 98px;
		line-height: 1.12;
		letter-spacing: -0.05em;
		font-weight: 900;
		max-width: 75%;
		display: block;
		color: #172328;
	}

	&__abc{
		display: flex;
		margin-left: -2px;
		margin-right: -2px;
		margin-top: 30px;
		&-item{
			margin: 2px 2px;
			flex-basis: 32px;
			a{
				padding: 4px 10px;
				font-size: 18px;
				line-height: 26px;
				font-family: $font-family--secondary;
				color: #677B83;
				display: block;
				background: #ffffff;
				text-decoration: none;
				width: 100%;
				text-align: center;
				&:hover{
					color: $color-dark;
				}
			}
			&--active{
				a{
					background: #01A5E4;
					color: #ffffff;
					&:hover{
						color: #ffffff;
					}
				}
			}
		}
	}

	&__content{
		margin-top: 62px;
	}

	&__letter{
		padding: 23px 0 16px;
		+.wiki__letter{
			margin-top: 32px;
		}
		&-title{
			font-weight: 300;
			font-size: 42px;
			line-height: 32px;
			letter-spacing: -0.07em;
			color: #172328;
		}
		&-items{
			margin-top: 8px;
		}
	}
	&__item{
		color: currentColor;
		display: block;
		box-sizing: border-box;
		padding-right: 118px;
		+.wiki__item{
			margin-top: 24px;
		}
		&-title{
			font-weight: 700;
			font-size: 22px;
			line-height: 1.27;
			letter-spacing: -0.07em;
		}
		&-text{
			margin-top: 16px;
			font-size: 14px;
			line-height: 22px;
		}
	}
}
