.wiki {
	&__container{
		position: relative;
		padding-top: 28px;
		padding-bottom: 50px;
		@include media(md){
			padding-top: 49px;
			padding-bottom: 162px;
		}
	}

	&__title{
		margin: 0;
		font-weight: 900;
		display: block;
		@include media(md){
			max-width: 75%;
		}
	}

	&__abc{
		display: flex;
		margin-left: -2px;
		margin-right: -2px;
		margin-top: 30px;
		flex-wrap: wrap;
		@include media(md){
			flex-wrap: nowrap;
		}
		&-item{
			margin: 2px 2px;
			flex-basis: 32px;
			@include media(lg){
				flex-grow: 1;
			}
			&:first-child{
				flex-basis: 51px;
			}
			a{
				padding: 4px 4px;
				font-size: 18px;
				line-height: 26px;
				font-family: $font-family--secondary;
				color: #677B83;
				display: block;
				background: #ffffff;
				text-decoration: none;
				width: 100%;
				text-align: center;
				&:hover{
					color: $color-dark;
				}
			}
			&--active{
				a{
					background: #01A5E4;
					color: #ffffff;
					&:hover{
						color: #ffffff;
					}
				}
			}
		}
	}

	&__content{
		margin-top: 40px;
		@include media(md){
			margin-top: 62px;
		}
	}

	&__letter{
		padding: 23px 0 16px;
		+.wiki__letter{
			margin-top: 32px;
		}
		&-title{
			font-weight: 300;
			font-size: 42px;
			line-height: 32px;
			letter-spacing: -0.07em;
			color: #172328;
		}
		&-items{
			margin-top: 8px;
		}
		&:hover{
			.wiki__letter-title {
				color: $color-blue
			}
		}
	}
	&__item{
		color: currentColor;
		display: block;
		box-sizing: border-box;
		position: relative;
		@include media(md){
			padding-right: 118px;
			&::after{
				content: '';
				display: block;
				width: 15px;
				height: 29px;
				position: absolute;
				right: 24px;
				bottom: 19px;
				background: url('data:image/svg+xml, <svg width="15" height="29" viewBox="0 0 15 29" stroke="black" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 1L14 14.5L0.5 28" fill="none"/></svg>') center center no-repeat;
			}
		}
		+.wiki__item{
			margin-top: 24px;
		}
		&-title{
			font-weight: 700;
			font-size: 22px;
			line-height: 1.27;
			letter-spacing: -0.07em;
		}
		&-text{
			margin-top: 16px;
			font-size: 14px;
			line-height: 22px;
		}

		&:hover{
			&::after{
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='29' viewBox='0 0 15 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1L14 14.5L0.5 28' stroke='%2301A5E4'/%3E%3C/svg%3E%0A");
			}
			.wiki__item-title{
				color: $color-blue;
			}
			.wiki__item-text{
				text-decoration-line: underline;
			}
		}
	}
}

