-
	//- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
	let FONTS = [
		'Jost-Light',
		'Jost-Regular',
		'Jost-SemiBold',
		'Jost-Italic',
		'Cinzel-Regular'
	];

	let TITLE_PART = 'Glass Proekt';

	let URLS = {
		home: 'home.html',
		about: '#',
		production: '#',
		office: '#',
		customers: '#',
		certificates: '#',
		reviews: '#',
		services: '#',
		facadeGlazing: '#',
		projects: '#',
		materials: '#',
		suppliers: '#',
		news: '#',
		partnerProgram: '#',
		wiki: '#',
		contact: '#'
	};

	let TITULAR_MENU = [
		{text: 'Главная', url: URLS.home, currentPage: 1.01, currentSection: 1, submenu: null},
		{text: 'О Компании', url: null, currentPage: 2.01, currentSection: 2, submenu: [
			{
				title: null,
				list: [
					{text: 'О Компании', url: URLS.about, currentPage: 2.01, currentSection: 2},
					{text: 'Производство', url: URLS.production, currentPage: 2.02, currentSection: 2},
					{text: 'Офис', url: URLS.office, currentPage: 2.03, currentSection: 2},
					{text: 'Клиенты', url: URLS.customers, currentPage: 2.04, currentSection: 2},
					{text: 'Сертификаты', url: URLS.certificates, currentPage: 2.05, currentSection: 2},
					{text: 'Отзывы', url: URLS.reviews, currentPage: 2.06, currentSection: 2}
				]
			}
		]},
		{text: 'Услуги', url: null, currentPage: 3.01, currentSection: 3, submenu: [
			{
				title: 'Фасадное остекление',
				list: [
					{text: 'Страница раздела', url: URLS.about, currentPage: 3.01, currentSection: 3},
					{text: 'Страница раздела', url: URLS.production, currentPage: 3.02, currentSection: 3},
				]
			},
			{
				title: 'Фасадное остекление',
				list: [
					{text: 'Страница раздела', url: URLS.about, currentPage: 3.01, currentSection: 3},
					{text: 'Страница раздела', url: URLS.production, currentPage: 3.02, currentSection: 3},
				]
			}
		]},
		{text: 'Проекты', url: URLS.projects, currentPage: 4.01, currentSection: 4, submenu: null},
		{text: 'Материалы', url: URLS.materials, currentPage: 5.01, currentSection: 5, submenu: null},
		{text: 'Поставщики', url: URLS.suppliers, currentPage: 6.01, currentSection: 6, submenu: null},
		{text: 'Новости', url: URLS.news, currentPage: 7.01, currentSection: 7, submenu: null},
		{text: 'Партнерская программа', url: URLS.partnerProgram, currentPage: 8.01, currentSection: 8, submenu: null},
		{text: 'WIKI-база знаний', url: URLS.wiki, currentPage: 9.01, currentSection: 9, submenu: null}
	];

	let MAIN_MENU = [
	];

	let HEADER_MENU = [
		{text: 'О компании', url: URLS.about, currentPage: 2.01, currentSection: 2, submenu: null},
		{text: 'Услуги', url: URLS.services, currentPage: 3.01, currentSection: 3, submenu: null},
		{text: 'Проекты', url: URLS.projects, currentPage: 4.01, currentSection: 4, submenu: null}
	]

	let PARTNERS_LOGO = [
		{name: '1', w: '117', h: '47', alt: 'behr handelsagentur'},
	];


