-
	//- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
	let FONTS = [
		'Jost-Light',
		'Jost-Regular',
		'Jost-SemiBold',
		'Jost-Italic',
		'Cinzel-Regular'
	];

	let TITLE_PART = 'Glass Proekt';

	let URLS = {
		home: 'home.html',
		about: '#',
		production: '#',
		office: 'office.html',
		customers: 'customers.html',
		certificates: 'certificates.html',
		reviews: 'reviews.html',
		services: 'services.html',
		servicesGroup: 'services-group.html',
		servicesDetail: 'services-detail.html',
		servicesHide: 'service-hide.html',
		facadeGlazing: '#',
		projects: '#',
		materials: '#',
		suppliers: '#',
		news: '#',
		partnerProgram: '#',
		wiki: 'wiki.html',
		contact: 'contacts.html'
	};

	let TITULAR_MENU = [
		{text: 'Главная', url: URLS.home, currentPage: 1.01, currentSection: 1, submenu: null},
		{text: 'О Компании', url: null, currentPage: 2.01, currentSection: 2, submenu: [
			{
				main: null,
				list: [
					{text: 'О Компании', url: URLS.about, currentPage: 2.01, currentSection: 2},
					{text: 'Производство', url: URLS.production, currentPage: 2.02, currentSection: 2},
					{text: 'Офис', url: URLS.office, currentPage: 2.03, currentSection: 2},
					{text: 'Клиенты', url: URLS.customers, currentPage: 2.04, currentSection: 2},
					{text: 'Сертификаты', url: URLS.certificates, currentPage: 2.05, currentSection: 2},
					{text: 'Отзывы', url: URLS.reviews, currentPage: 2.06, currentSection: 2}
				]
			}
		]},
		{text: 'Услуги', url: URLS.services, currentPage: 3.01, currentSection: 3, submenu: [
			{
				main: {text: 'Услуги подгруппа', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Услуги детально', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Услуга скрытая', url: URLS.servicesHide, currentPage: 3.04, currentSection: 3},
				]
			}
		]},
		{text: 'Проекты', url: URLS.projects, currentPage: 4.01, currentSection: 4, submenu: null},
		{text: 'Материалы', url: URLS.materials, currentPage: 5.01, currentSection: 5, submenu: null},
		{text: 'Поставщики', url: URLS.suppliers, currentPage: 6.01, currentSection: 6, submenu: null},
		{text: 'Новости', url: URLS.news, currentPage: 7.01, currentSection: 7, submenu: null},
		{text: 'Партнерская программа', url: URLS.partnerProgram, currentPage: 8.01, currentSection: 8, submenu: null},
		{text: 'WIKI-база знаний', url: URLS.wiki, currentPage: 9.01, currentSection: 9, submenu: null},
		{text: 'Контакты', url: URLS.contact, currentPage: 10.01, currentSection: 10, submenu: null}
	];

	let MAIN_MENU = [
		{text: 'О компании', url: URLS.about, currentPage: 2.01, currentSection: 2, id: 'about', submenu: [
			{
				main: null,
				list: [
					{text: 'О компании', url: URLS.about, currentPage: 2.01, currentSection: 2},
					{text: 'Производство', url: URLS.production, currentPage: 2.02, currentSection: 2},
					{text: 'Офис', url: URLS.office, currentPage: 2.03, currentSection: 2},
					{text: 'Клиенты', url: URLS.customers, currentPage: 2.04, currentSection: 2},
					{text: 'Сертификаты', url: URLS.certificates, currentPage: 2.05, currentSection: 2},
					{text: 'Отзывы', url: URLS.reviews, currentPage: 2.06, currentSection: 2}
				]
			}
		]},
		{text: 'Услуги', url: URLS.services, currentPage: 3.01, currentSection: 3, id: 'services', submenu: [
			{
				main: {text: 'Фасадное остекление', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Остекление фасадов', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Остекление зданий', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Остекление бизнес центров', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Остекление автосалонов', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Остекление жилых комплексов', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Фальш остекление', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Внешнее остекление', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Спайдерное остекление', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Козырьки и навесы', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Алюминиевые окна', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Входные группы', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Алюминиевые двери', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Зимние сады', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Зенитные фонари', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Стеклянные крыши', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Внутреннее остекление', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Стеклянные двери', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Стеклянные перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Офисные перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Цельностеклянные перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Алюминиевые перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Мобильные перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Душевые перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Сантехнические перегородки', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Навесные, вентилируемые фасады', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'НВФ клинкерной плиткой', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'НВФ натуральным камнем', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'НВФ  композитным материалом', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'НВФ металлическими кассетами', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'НВФ керамогранитом', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Автоматизированные системы', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Проветривание и дымоудаление', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Автоматические входные группы', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Роллетные системы', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Секционные ворота', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Эксклюзивные изделия из стекла', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Стеклянные ограждения', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Стеклянные лестницы', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Стеклянные полы', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Смарт-стекло', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Зеркала на заказ', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Панно из зеркал', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Изделия из нержавеющей стали', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Ограждение лестниц', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Эксклюзивные изделия', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			},
			{
				main: {text: 'Конструкции из ПВХ профиля', url: URLS.servicesGroup, currentPage: 3.02, currentSection: 3},
				list: [
					{text: 'Окна из ПВХ профиля', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3},
					{text: 'Двери из ПВХ профиля', url: URLS.servicesDetail, currentPage: 3.03, currentSection: 3}
				]
			}
		]},
		{text: 'Проекты', url: URLS.projects, currentPage: 4.01, currentSection: 4, submenu: null},
		{text: 'Материалы', url: URLS.materials, currentPage: 5.01, currentSection: 5, submenu: null},
		{text: 'Поставщики', url: URLS.suppliers, currentPage: 6.01, currentSection: 6, submenu: null},
		{text: 'Новости', url: URLS.news, currentPage: 7.01, currentSection: 7, submenu: null},
		{text: 'Партнерская программа', url: URLS.partnerProgram, currentPage: 8.01, currentSection: 8, submenu: null},
		{text: 'WIKI-база знаний', url: URLS.wiki, currentPage: 9.01, currentSection: 9, submenu: null}
	];

	let HEADER_MENU = [
		{text: 'О компании', url: URLS.about, currentPage: 2.01, currentSection: 2, submenu: null},
		{text: 'Услуги', url: URLS.services, currentPage: 3.01, currentSection: 3, submenu: null},
		{text: 'Проекты', url: URLS.projects, currentPage: 4.01, currentSection: 4, submenu: null}
	]

	let PARTNERS_LOGO = [
		{name: '1', w: '117', h: '47', alt: 'behr handelsagentur'},
	];

	let SERVICES_LIST = [
		{text: 'Фасадное остекление', count: '01', url: URLS.servicesGroup},
		{text: 'Внешнее остекление', count: '02', url: URLS.servicesGroup},
		{text: 'Внутреннее остекление', count: '3', url: URLS.servicesGroup},
		{text: 'Входные группы', count: '4', url: URLS.servicesGroup},
		{text: 'Остекление крыши', count: '05', url: URLS.servicesGroup},
		{text: 'Козырьки и навесы', count: '06', url: URLS.servicesGroup},
		{text: 'Конструкции из ПВХ профиля', count: '7', url: URLS.servicesGroup},
		{text: 'Навесные и вентилируемые фасады', count: '8', url: URLS.servicesGroup},
		{text: 'flag', count: '09', url: URLS.servicesGroup},
		{text: 'Эксклюзивные изделия из стекла', count: '10', url: URLS.servicesGroup},
		{text: 'Изделия из нержавеющей стали', count: '11', url: URLS.servicesGroup}
	];

	let SERVICES_LIST_GROUP = [
		{text: 'Алюминиевые окна', count: '01', url: URLS.servicesDetail},
		{text: 'Алюминиевые двери', count: '02', url: URLS.servicesDetail},
		{text: 'Алюминиевые витражи', count: '3', url: URLS.servicesDetail},
		{text: 'Спайдерное остекление', count: '4', url: URLS.servicesDetail},
		{text: 'Зимние сады', count: '05', url: URLS.servicesDetail},
		{text: 'Веранды', count: '06', url: URLS.servicesDetail},
		{text: 'Террасы', count: '7', url: URLS.servicesDetail},
		{text: 'Зенитные фонари', count: '8', url: URLS.servicesDetail}
	];

	let LIST = [
		'Ведение проекта под ключ',
		'Комплексную геодезическую съемку объекта',
		'Уникальный технический проект с учетом Ваших пожеланий',
		'Качественные материалы и надежные конструкции (SCHUECO, Alutech и Reynaers)',
		'Изготовление конструкций на современном оборудовании;',
		'Профессиональный монтаж',
		'Контроль качества на всех этапах строительства',
		'Гарантийное обслуживание.'
	];

	let LIST_2 = [
		'Ведение проекта под ключ',
		'Ведение проекта под ключ',
		'Комплексную геодезическую съемку объекта',
		'Комплексную геодезическую съемку объекта',
		'Уникальный технический проект с учетом Ваших пожеланий',
		'Уникальный технический проект с учетом Ваших пожеланий',
		'качественные материалы и надежные конструкции (SCHUECO, Alutech и Reynaers)',
		'качественные материалы и надежные конструкции (SCHUECO, Alutech и Reynaers)',
		'Изготовление конструкций на современном оборудовании',
		'Изготовление конструкций на современном оборудовании'
	]


