section.advantages
	.container.advantages__container
		include lines
		.advantages__wrapper
			.heading.advantages__title Наши  преиму-  щества
			.advantages__items
				.advantages-item.advantages__item
					.advantages-item__icon
						+icon('advantage-saw')(width="98", height="85")
					.advantages-item__content
						.advantages-item__title Собственное  производство
						.advantages-item__text Изготовление светопрозрачных конструкций всех типов: типовые ЖК, бизнес центры, торговые центры
				.advantages-item.advantages__item
					.advantages-item__icon
						+icon('advantage-rocket')(width="62", height="109")
					.advantages-item__content
						.advantages-item__title 13 лет <br>  на рынке
						.advantages-item__text Работаем с 2007 года. 86 специалистов в штате. 441 реализованный проект
				.advantages-item.advantages__item
					.advantages-item__icon
						+icon('advantage-note')(width="88", height="100")
					.advantages-item__content
						.advantages-item__title О наших объектах <br> пишут
						.advantages-item__text The Village, Grazia, peopletalk, www.archi.ru, hq room
