section.feedback
	.container.feedback__container
		.feedback__left(itemscope itemtype="http://schema.org/Organization")
			.feedback__icon(itemprop="image")
				img.feedback__letter.feedback__letter--1(src='img/letter-1.png' alt='')
				img.feedback__letter.feedback__letter--2(src='img/letter-2.png' alt='')
				img.feedback__letter.feedback__letter--3(src='img/letter-3.png' alt='')
			h2.heading.feedback__title Обсудим <br> Ваш проект
			.feedback__tell-us Расскажите о проекте и задайте <br> вопросы, мы скоро ответим
			a.feedback__phone(itemprop="telephone", href='tel:+74951503400') +7(495)150-34-00
			a.feedback__mail(itemprop="email", href='mailto:mail@glassproekt.ru') mail@glassproekt.ru
			+social('feedback__social', ['facebook', 'instagram'])
	.feedback__form
		include form
