footer.footer(itemscope itemtype="http://schema.org/WPFooter")
	.footer__inner.container
		.footer__title.heading.heading--small.__js_negative-shift О компании
		.footer__wrapper(itemscope itemtype='http://schema.org/SiteNavigationElement')
			.footer__col
				a.footer__link(itemprop='url', href= URLS.about) О Компании
				a.footer__link(itemprop='url', href= URLS.production) Производство

			.footer__col
				a.footer__link(itemprop='url', href= URLS.office) Офис
				a.footer__link(itemprop='url', href= URLS.customers) Клиенты

			.footer__col
				a.footer__link(itemprop='url', href= URLS.certificates) Сертификаты
				a.footer__link(itemprop='url', href= URLS.reviews) Отзывы

			.footer__col
				a.footer__link(itemprop='url', href= URLS.projects) Проекты
				a.footer__link(itemprop='url', href= URLS.news) Новости

		.footer__wrapper
			.footer__col
				a.footer__link(itemprop='url', href= URLS.partnerProgram) Партнерская программа
				a.footer__link(itemprop='url', href= URLS.materials) Материалы

			.footer__col
				a.footer__link(itemprop='url', href= URLS.suppliers) Поставщики
				a.footer__link(itemprop='url', href= URLS.wiki) WIKI-база знаний

			.footer__col
				a.footer__link(itemprop='url', href= URLS.contact) Контакты

			.footer__col
				+social('footer__social', ['facebook', 'instagram'])

		.footer__wrapper.footer__wrapper--bottom
			.footer__copy
				span(itemprop="copyrightYear") © 2007 – 2020
				span(itemprop="copyrightHolder") ООО «Гласс Проект»;
				span ОГРН 110507400256;
				span ИНН 1105074002560
			a.footer__privacy(itemprop="url", href="#") Политика конфиденциальности
			.footer__developer
				a(itemprop="url", href="#") Developed by
					+icon('bofer')(width="38", height="12")
