header.header
	img(src="img/__header.png", width="1440", height="100" alt="")
	//.header__inner

		+logo(isHome, 'header__logo')

		button.header__menu-toggle.menu-toggle(type="button")
			span.visually-hidden Menu



