section.services-slider
	.container.services-slider__container
		.services-slider__slider.swiper-container.__js_services-slider
			.swiper-wrapper
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 01
								.heading.services-slider__title Фасадное остекление
						.services-slider__content
							.services-slider__digit 01
							.heading.services-slider__title Фасадное остекление
							ul.services-slider__list
								li Остекление фасадов
								li Остекление зданий
								li Остекление бизнес центров
								li Остекление автосалонов
								li Остекление жилых комплексов
								li Фальш остекление
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 02
								.heading.services-slider__title Внешнее остекление
						.services-slider__content
							.services-slider__digit 02
							.heading.services-slider__title Внешнее остекление
							ul.services-slider__list
								li Алюминиевые витражи
								li Спайдерное остекление
								li Козырьки и навесы
								li Алюминиевые окна
								li Входные группы
								li Алюминиевые двери
								//li Зимние сады
								//li Зенитные фонари
								//li Стеклянные крыши
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 03
								.heading.services-slider__title Внутреннее остекление
						.services-slider__content
							.services-slider__digit 03
							.heading.services-slider__title Внутреннее остекление
							ul.services-slider__list
								li Стеклянные двери
								li Стеклянные перегородки
								li Офисные перегородки
								li Цельностеклянные перегородки
								li Алюминиевые перегородки
								li Мобильные перегородки
								//li Душевые перегородки
								//li Сантехнические перегородки
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 04
								.heading.services-slider__title Навесные, вентилируемые фасады
						.services-slider__content
							.services-slider__digit 04
							.heading.services-slider__title Навесные, вентилируемые фасады
							ul.services-slider__list
								li НВФ клинкерной плиткой
								li НВФ натуральным камнем
								li НВФ композитным материалом
								li НВФ металлическими кассетами
								li НВФ керамогранитом
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 05
								.heading.services-slider__title Автоматизированные системы
						.services-slider__content
							.services-slider__digit 05
							.heading.services-slider__title Автоматизированные системы
							ul.services-slider__list
								li Проветривание и дымоудаление
								li Автоматические входные группы
								li Роллетные системы
								li Секционные ворота
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 06
								.heading.services-slider__title Эксклюзивные изделия из стекла
						.services-slider__content
							.services-slider__digit 06
							.heading.services-slider__title Эксклюзивные изделия из стекла
							ul.services-slider__list
								li Стеклянные ограждения
								li Стеклянные лестницы
								li Стеклянные полы
								li Смарт-стекло
								li Зеркала на заказ
								li Панно из зеркал
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 07
								.heading.services-slider__title Изделия из нержавеющей стали
						.services-slider__content
							.services-slider__digit 07
							.heading.services-slider__title Изделия из нержавеющей стали
							ul.services-slider__list
								li Ограждение лестниц
								li Эксклюзивные изделия
				.services-slider__item.swiper-slide
					.services-slider__wrapper
						.services-slider__image
							img(src='img/services-slider/item-1.jpg', alt='')
							.services-slider__content.services-slider__content--mobile
								.services-slider__digit 08
								.heading.services-slider__title Конструкции из ПВХ профиля
						.services-slider__content
							.services-slider__digit 08
							.heading.services-slider__title Конструкции из ПВХ профиля
							ul.services-slider__list
								li Окна из ПВХ профиля
								li Двери из ПВХ профиля
		.services-slider__top
			a.services-slider__more(href='#', target='_blank') Услуги
			.services-slider__nav.swiper-nav
				button.slider__btn.slider__btn--prev.services-slider-prev
					+icon("chevron")(width="16", height="30")
				.swiper-pagination.services-slider-pagi
				button.slider__btn.slider__btn--next.services-slider-next
					+icon("chevron")(width="16", height="30")
		.services-slider__thumbs.swiper-container.__js_services-thumbs
			.swiper-wrapper
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 01
						p.title Фасадное <br> остекление
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 02
						p.title Внешнее <br> остекление
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 03
						p.title Внутреннее <br> остекление
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 04
						p.title Навесные, вентилируемые фасады
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 05
						p.title Автоматизированные системы
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 06
						p.title Эксклюзивные изделия из стекла
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 07
						p.title Изделия из нержавеющей стали
				.services-slider__thumb.swiper-slide
					.services-slider__thumb-wrapper
						p.digit 08
						p.title Конструкции из ПВХ профиля
