$width--full: 1830px;
$width--large: 1550px;
$width--small: 760px;

// Colors
//---------------------------------
$color-default-white: #ffffff;
$color-default-black: #000000;

//$color-main: #616161;
//$color-dark: #141419;
//$color-smoky: #f1f1f1;
//$color-smoky2: #f2f2f2;
//$color-smoky3: #fbfaf6;

$color-dark: #111c20;
$color-dark2: #172328;
$color-dark3: #1e2e34;

$color-gray-e5: #e5e5e5;
$color-gray-c9: #c9c9c9;
$color-gray-fa: #fafafa;
$color-gray-f9: #f9f9f9;
$color-gray-bb: #bbbbbb;
$color-gray-ee: #eeeeee;
$color-gray-99: #999999;

$color-blue: #01a5e4;
$color-dark-blue: #0088d1;
$color-light-blue: #3ba1d9;
$color-pale-sky: #677b83;
$color-athens-gray: #fafafa;

$color-base: $color-default-black; // основной цвет текста, используется в миксине text()

// Typography
//--------------   $font-family, $file-name, $weight, $style: normal

//
$fonts: "Roboto" "Roboto-Regular" 400 normal, "Roboto" "Roboto-Black" 900 normal,
	"Mulish" "Mulish-ExtraLight" 200 normal, "Mulish" "Mulish-Regular" 400 normal,
	"Mulish" "Mulish-SemiBold" 600 normal, "Mulish" "Mulish-Bold" 700 normal,
	"Mulish" "Mulish-Black" 900 normal;

$font-family--main: "Mulish", "Open Sans", sans-serif;
$font-family--secondary: "Roboto", "Open Sans", sans-serif;

$font-size-base: 14px;
$line-height-base: 1.5714; //22px

/////////////////////////////
$default-transition-settings: 0.3s ease;

///////////////////////////////

// Viewports
//---------------------------------

$breakpoints: (
	default: "default",
	xs: 414px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1560px,
	xxx: 1920px,
) !default;

// container max width
$containerMaxWidths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 990px,
	xxl: 990px,
	xxx: 990px,
) !default;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
