mixin nav-dropdown(submenu, submenuId)
	- let addClass = submenu.length < 2 ? ' dropdown--simple' : '';
	.navigation__dropdown.dropdown(class= addClass, id= submenuId)
		button.dropdown__back.__js_back-to-menu(type="button")
			+icon('arrow-left')(width="32", height="32")
		.dropdown__wrapper(data-simplebar)
			each item in submenu
				.dropdown__section
					if item.main
						.dropdown__title
							if item.main.currentPage === currentPage
								a.current= item.main.text
							else
								a(href= item.main.url)= item.main.text
					ul.dropdown__list(itemscope itemtype='http://schema.org/SiteNavigationElement')
						each it in item.list
							if it.currentPage === currentPage
								li.dropdown__item.dropdown__item--current
									a= it.text
							else
								li.dropdown__item
									a(itemprop='url', href= it.url)= it.text


